.timeline-container {

  overflow-y: hidden;
  overflow-x: scroll;
}

.the-timeline {

  $day-width: 40px;
  $task-elem-height: 50px;

  width: 100000px;
  max-width: 100000px;
  white-space: nowrap;

  .task-elem {
    height: $task-elem-height;
    padding: 3px;
    font-size: 9px;
    position: relative;

    &.even {
      background-color: lightblue;
    }
    &.odd {
      background-color: lightcoral;
    }
  }

  .timeline-heading {

    .timeline-heading-item {
      display: inline-block;
      width: $day-width;
      position: relative;
      height: 60px;

      .letter {
        position: relative;
        top: 22px;
        font-size: 9px;
        padding-left: 2px;
      }

      .digit {
        position: relative;
        top: 10px;
        left: 12px;
      }

      .month {
        position: absolute;
        top: 0;
        z-index: 1000;
        height: 22px;
        width: $day-width
      }

      .month-indicator {
        position: absolute;
        height: 10px;
        color: white;
        padding: 3px;
        z-index: 1001;
        font-size: 12px;
      }
    }
  }
}